:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.weather-content {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  max-width: 60rem;
  width: 45rem;
  border-radius: 1rem;
  background: #eee;
  //background: linear-gradient(to top, yellow, 30%, #1e90ff);
  //background: radial-gradient(red 10px, yellow 30%, #1e90ff 50%);
  padding: 1rem;
  margin: 2rem;
}

.fields {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-field {
  align-items: center;
  box-sizing: content-box;
  background: none;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: none;
  outline: none;
  //padding-left: 0.5rem;
  cursor: default;
  width: 100%;
  flex-grow: 1;
  background: #1e90ff;
  &.night {
    background: #222242;
  }
}

.btn {
  color: #fff;
  font-weight: 500;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.city-label {
  padding-left: 8px;

}

.city-option {
  &:hover {
    color: white;
  }
}

.ng-select ::ng-deep .ng-arrow {
  display: none;
}
.ng-select ::ng-deep .ng-arrow-wrapper {
  background-image: url('../../../assets/icons/arrow-down.svg');
  background-repeat: no-repeat;
  top: 0.5rem;
  padding: 1rem;
  transform-origin: 12px 12px;
  transition: transform 0.3s ease;
}

.ng-select-opened ::ng-deep .ng-arrow-wrapper {
  transform: rotate(180deg);
}

::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container, ::ng-deep.ng-select .ng-clear-wrapper {
  top: 0.7rem;
  font-weight: 500;
  color: #fff;
}

::ng-deep.ng-select .ng-select-container .ng-value-container ::ng-deep.ng-input>input {
  padding-left: 0.5rem;
}

::ng-deep.ng-dropdown-panel .ng-dropdown-panel-items {
  padding: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #eee;
  color: #DC3545;
  font-weight: 500;
}

::ng-deep.ng-select input, ::ng-deep.ng-select span {
  box-sizing: border-box;
  height: 2.5rem;
}

::ng-deep.ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  display: flex;
  align-items: center;
}

::ng-deep.ng-dropdown-panel .scroll-host {
  height: 12rem;
  top: -6px;
  left: -2px;
}

::ng-deep.ng-option:hover {
  background: darkgrey;
  color: #fff;
  padding: 0.2rem;
}

::ng-deep.ng-select .ng-select-container .ng-value-container ::ng-deep.ng-input>input {
  color: #fff;
}


